.countryDataTab {
    font-size: 15px;
    color: #333;
  }

  .countryDataTab .title {
    font-size: 35px;
    margin-left: 5px;
  }
  
  .countryDataTab .cRow {
    margin: 5px 10px;
  }
  
  .countryDataTab .cRow:nth-child(odd) {
    background-color:#d6d6d6;
  }
  .countryDataTab .cRow:nth-child(even) {
    background-color:#b5b4b4;
  }
  